html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem
}

nav {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

nav a:hover, footer a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

.intro {
  font-size: 1.125rem;
  font-weight: bold;
}

.varieties {
  list-style-type: lower-greek;
}

.tags {
  list-style-type: circle;
  font-size: .8rem;
}

footer {
  font-size: .8rem;
}

footer > a {
  color: #8f2440;
  text-decoration: none;
}

.serve {
  font-style: italic;
}

dt {
  font-weight: bold;
}

blockquote {
  color: #222;
  font-size: 1.5rem;
  font-style: italic;
}

#pratt {
  font-size: .8rem;
}
